<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Css Custom Properties Tutorial</title>
    <link rel="stylesheet" href="./custom_properties.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    
</head>
<body>

    <div class="box1">
        <p>Hello, My name is box 1</p>
    </div>
    <div class="box2">

        <p>Won't you rather want my name to be Box 2?</p>
    </div>

    <div class="box3">
        <p>Box 3 for a reason</p>
    </div>

    <div class="box4">
        <p>Four is Four</p>
    </div>
    <div class="box5">
        <p>just a hi-five will do</p>
    </div>
    
</body>
</html>