<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visualizing Designs</title>
    <link rel="stylesheet" href="./design.css" />
  </head>
  <body>
    <div class="mood">
      <h1>Pick a mood to begin your journey</h1>
      <p>We’ll match you with a plant that reflects your emotional focus.</p>
    </div>
    <div class="mood2">
      <div class="mood2-item">
        <div class="img-box">
          <img src="./Calm.png" alt="flower" />
          <p>Calm</p>
        </div>
        <div class="img-box">
          <img src="./Energized.png" alt="flower" />
          <p>Energized</p>
        </div>
      </div>
      <div class="mood2-item">
        <div class="img-box">
          <img src="./Reflective.png" alt="flower" />
          <p>Reflective</p>
        </div>
        <div class="img-box">
          <img src="./Anxious.png" alt="flower" />
          <p>Anxious</p>
        </div>
      </div>
    </div>

    <div>
      <button>Continue</button>
      <button>skip</button>
    </div>
  </body>
</html>
