<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorials</title>
    <link rel="stylesheet" href="./nth_child.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    
</head>
<body>

       
     <div>
        <p>I'm the first</p>
     </div>
     <div>
        <p>This is the second div</p>

     </div>
     <div>
        <p>Three is an odd number</p>
     </div>
     <div>
        <p>Four is four</p>
     </div>
     <div>
        <p>If you enjoy this tutorila, ust give me an hi five!</p>
     </div>
     <div>a</div>
     <div>b</div>
     <div>c</div>
     <div>d</div>
     <div>e</div>




</body>
</html>