<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verdant</title>
    <link rel="stylesheet" href="./project.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="logo_div">
        <img src="./hugeicons_yoga-03.png" alt="logo" />
        <h1>Verdant</h1>
      </div>

      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#about_us">Classes</a></li>
          <li><a href="">Membership</a></li>
          <li><a href="">Testimonials</a></li>
        </ul>
      </nav>

      <button class="">Join Now</button>


      <span class="hamburger">&#9776</span>

      
      

      
    </header>
    <main>
      <div class="inner_balance">
        <div class="inner_balance_item">
          <h1>Find Your <span>Inner Balance</span>  Through Yoga</h1>

          <p>Relax, rejuvenate, and strengthen your body & mind.</p>
        </div>
        <div class="inner_balance_item">
          <img src="./Frame 17.png" alt="image">
        </div>
        
      </div>


      <section id="why_choose_us">

       <h1>Why Choose Us</h1>
       <div class="why_choose_us_container">
        <div class="why_choose_us_img_container">

        </div>
        <div class="why_choose_us_text_container"></div>
       </div>
        

      </section>


      
       
    </main>
    <footer></footer>
  </body>




  <!-- <script>
  const hamburger = document.querySelector(".hamburger");
  const dropdown = document.querySelector(".dropdown");

  hamburger.addEventListener("click", () => {
    dropdown.classList.toggle("show");
    hamburger.classList.toggle("active");
    hamburger.innerHTML = hamburger.classList.contains("active") ? "&#10005;" : "&#9776;";
  });
</script> -->

</html>
