<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./cssrevision.css">

    
</head>
<body>
    <!-- inline styling/css
    internal styling/css
    external styling/css -->


    <h1 style="color: green; background-color: yellow; text-align:center;">My name is Ayoola</h1> <p>a</p> <p>b</p>
    <p class="lorem-paragraph"  id="lorem" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas reprehenderit non excepturi sequi, quo dolor veniam nesciunt, magni quisquam unde quae, quod possimus ea eaque dicta expedita aliquid iure assumenda!</p>


    <p id="newParagraph" >
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, praesentium?
    </p>











</body>
</html>