<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Html Revision</title>
    <link rel="stylesheet" href="./revision.css">

</head>
<body>

    <form action="">
  <label for="">First Name:</label> <br>
  <input type="text" placeholder="enter your first name"> <br> <br>
  <input type="radio"> <br> <br>
  <input type="button"> <br> <br>
  <input type="checkbox"> <br> <br>
  <input type="submit"> <br> <br>
  <input type="textarea"> <br> <br>



 </form>


   <h1>Data<span style="color: green;">Slid</span></h1>   <br> <br>
   <h2>DataSlid</h2>
   <h3>DataSlid</h3>
   <hr>
   <h4>DataSlid</h4>
   <h5>DataSlid</h5>
   <h6>DatasLID</h6>



   <h1 style="font-size:100px ;">Data<sub>Slid</sub> </h1>
    <h1 style="font-size:100px ;">Data<sup>Slid</sup> </h1>

   <p> <b>Lorem</b> ipsum <strong>dolor</strong> sit amet, <br> consectetur adipisicing elit. <br> Voluptates placeat <em>laborum eum beatae </em>laborum eum marl <mark>praesentium</mark> beatae minima  aut et assumenda necessitatibus, quia quod ut accusamus enim nulla, 
    <del>wordss</del> now 1,050
    
    repudiandae iste asperiores <i>labore </i>tempora.</p>

   <hr>

   <a href="https://www.google.com/search?q=trump&rlz=1C1JZAP_enNG1173NG1173&oq=trump&gs_lcrp=EgZjaHJvbWUqBwgAEAAYjwIyBwgAEAAYjwIyEggBEC4YQxixAxjJAxiABBiKBTIMCAIQIxgnGIAEGIoFMg0IAxAAGJIDGIAEGIoFMhMIBBAAGIMBGLEDGMcDGIAEGIoFMgoIBRAAGLEDGIAEMgoIBhAAGLEDGIAEMg0IBxAAGIMBGLEDGIAEMgcICBAAGIAEMgcICRAAGI8C0gEIMjQ3MmowajeoAgiwAgHxBaU0aKk5Z1Yw&sourceid=chrome&ie=UTF-8">Know   more about Trump</a>  

   <br> <br>
 <span></span>

  <ol>
    <li>Home</li>
    <li>About</li>
    <li>Contact</li>
  </ol>


  <ul>
    <li>Home</li>
    <li>About</li>
    <li>Contact</li>
  </ul>


 <img src="./victor gyokeres.jpg" alt="Victor Gyokeres">
   

 <table>

    <tr>
        <th>Name of students</th>
        <th>Gender</th>
        <th>Age</th>
    </tr>
    <tr>
         <td>Samuel</td>
         <td>Male</td>
         <td>17</td>
    </tr>
    <tr>
        <td>Mercy</td>
        <td>Femlae</td>
        <td>16.5</td>
    </tr>




 </table>






</body>
</html>